WeGa/Service References/GameServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGameService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IGameService_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetPlayerNicknames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNicknames" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetPlayerNicknames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNicknamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendWord_InputMessage">
    <wsdl:part name="parameters" element="tns:SendWord" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendWordResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRequests" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameWordsHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameWordsHistory" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameWordsHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameWordsHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_NeglectGame_InputMessage">
    <wsdl:part name="parameters" element="tns:NeglectGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_NeglectGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:NeglectGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_ResignGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ResignGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_ResignGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResignGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetLeaderBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetLeaderBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_PingDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:PingDatabase" />
  </wsdl:message>
  <wsdl:message name="IGameService_PingDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Login" message="tns:IGameService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/LoginResponse" message="tns:IGameService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RegisterPlayer" message="tns:IGameService_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RegisterPlayerResponse" message="tns:IGameService_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerNicknames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetPlayerNicknames" message="tns:IGameService_GetPlayerNicknames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetPlayerNicknamesResponse" message="tns:IGameService_GetPlayerNicknames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/CreateGame" message="tns:IGameService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/CreateGameResponse" message="tns:IGameService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendWord" message="tns:IGameService_SendWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SendWordResponse" message="tns:IGameService_SendWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetGameRequests" message="tns:IGameService_GetGameRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetGameRequestsResponse" message="tns:IGameService_GetGameRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameWordsHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetGameWordsHistory" message="tns:IGameService_GetGameWordsHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetGameWordsHistoryResponse" message="tns:IGameService_GetGameWordsHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/EndGame" message="tns:IGameService_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/EndGameResponse" message="tns:IGameService_EndGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NeglectGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/NeglectGame" message="tns:IGameService_NeglectGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/NeglectGameResponse" message="tns:IGameService_NeglectGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResignGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ResignGame" message="tns:IGameService_ResignGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ResignGameResponse" message="tns:IGameService_ResignGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetLeaderBoard" message="tns:IGameService_GetLeaderBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetLeaderBoardResponse" message="tns:IGameService_GetLeaderBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/PingDatabase" message="tns:IGameService_PingDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/PingDatabaseResponse" message="tns:IGameService_PingDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetResults" message="tns:IGameService_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetResultsResponse" message="tns:IGameService_GetResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameService" type="tns:IGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGameService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap:operation soapAction="http://tempuri.org/IGameService/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerNicknames">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetPlayerNicknames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWord">
      <soap:operation soapAction="http://tempuri.org/IGameService/SendWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameRequests">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetGameRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameWordsHistory">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetGameWordsHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/EndGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeglectGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/NeglectGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResignGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/ResignGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetLeaderBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingDatabase">
      <soap:operation soapAction="http://tempuri.org/IGameService/PingDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="BasicHttpBinding_IGameService" binding="tns:BasicHttpBinding_IGameService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WeGaService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>